@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (color: lab(0 0 0)) {
  :root {
    --bg: lab(100 0 0);
    --text: lab(20 0 0);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: lab(21.04 -0.43 -5.37);
      --text: lab(95 0 0);
    }
  }

  .dark {
    --bg: lab(21.04 -0.43 -5.37);
    --text: lab(95 0 0);
  }
}

@supports not (color: lab(0 0 0)) {
  :root {
    --bg: #fff;
    --text: #1a1a1a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #282c35;
      --text: #f5f5f5;
    }
  }

  .dark {
    --bg: #282c35;
    --text: #f5f5f5;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

a {
  color: inherit;
  text-decoration: none;
}
